@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-green-600 text-white p-2 rounded-md tracking-wider hover:bg-green-700 w-full sm:w-fit;
  }
}
/* bg-slate-800 */
body {
  @apply pt-[6rem];
}
@layer utilities {
  .row {
    /*                     p-2    */
    @apply flex flex-wrap p-2;
  }

  .active {
    @apply after:absolute after:w-full after:border-b-[3px] after:border-green-600 after:bg-green-600 after:bottom-0 after:left-0;
  }
}

/* .custom_animate {
  animation: move_cart 0.9s linear infinite;
} */
@keyframes move_cart {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
}
/* style toast */
/* @media (min-width: 640px) {
  .Toastify__toast-container {
    @apply top-[75px];
  }
} */

